{$DOMAIN} {
    encode zstd gzip

    basic_auth {
        {$DEMO_USERNAME} {$DEMO_PASSWORD_HASH}
    }

    header {
        -Server
        X-Content-Type-Options nosniff
        Referrer-Policy no-referrer
        X-Frame-Options DENY
        X-Robots-Tag "noindex, nofollow"
    }

    reverse_proxy app:8000 {
        flush_interval -1
    }
}
